<option value="best">Automatic (least overlap)</option>
<option value="upper right">Upper right</option>
<option value="upper left">Upper left</option>
<option value="lower right">Lower right</option>
<option value="lower left">Lower left</option>
<option value="center right">Center right</option>
<option value="center left">Center left</option>
<option value="upper center">Upper center</option>
<option value="lower center">Lower center</option>
<option value="center">Center</option>
<option value="outside right">Outside right (clear of peaks)</option>
